


.header{background-color:#b5dcb3; height: 10vh}
.leftcol {background-color: #dddddd; height:80vh; width: 20%; float:left;}
.content {background-color: #dddddd; height:80vh; width: 60%;float:left;}
.rightcol {background-color: #dddddd; height:80vh; width: 20%;float:right;}
.footer{background-color: #dddddd; height:80vh; width: 10vh clear:both}

ul{list-style-type:none; margin: 0 padding: 0; background-color: #b5dcb3}

li a {color:#000000; padding: 8px 16px; text-decoration:none;display:block;}
li a:hover{background-color:#555555}
.center{background-image:url(tatoo.jpg) }

    
 



